#mainImg{
    margin-left:10% ;
    margin-top: 2%;
    border-radius: 20%;
    height: 10%;
    max-width: 70%;
}
#card{
    position: relative;
    top: 30%;
    left: 5%;
    margin-top: 5%;
    /* bottom: 0; */
    /* width: 300px; */
    width: 50%;
}
/* #contact{
    position: relative;
    left: 75%;
    top: 30%;
} */


body{
    background-color: rgb(239, 242, 245);
    overflow: scroll;
}
